<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment include="Development,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/fonts/css/all.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md bg-success">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand text-light">Company Info</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"> <a asp-controller="Home" asp-action="Index" class="active nav-link text-light">Home</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">

        @RenderBody()
    </div>

    <environment include="Development,Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
</body>
</html>
